@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

body {
  background-color: rgb(112, 182, 155);
}

#title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}

#description {
  margin-top: 0;
  text-align: center;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 15px;
}

#survey-form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 90%;
}

#name-label,
#email-label,
#number-label,
.gender-label,
.rating,
.like-text,
.comment-label {
  display: inline-block;
  text-align: right;
  margin-right: 8px;
  width: 40%;
}

#name,
#email,
#number {
  width: 35%;
}

#name,
#email,
#number,
#dropdown,
.comment {
  border-radius: 4px;
  padding: 3px 5px;
  border: 1px solid #ccc;
}

.rating,
.like-text,
.comment {
  vertical-align: top;
}

#name:focus,
#email:focus,
#number:focus,
#dropdown:focus {
  border: 1px solid dodgerblue;
}

#rating-list,
.like-list {
  display: inline-block;
  list-style: none;
  padding-left: 0; 
}

.comment {
  margin-top: 16px;
  max-width: 35%;
  min-width: 35%;
  max-height: 150px;
  min-height: 150px;
}

.name-section,
.email-section,
.age-section,
.gender-section,
.gender-section,
.like-section,
.comment-section {
  margin-bottom: 15px;
}

#submit {
  margin: 0 auto;
  width: 100px;
  background-color: rgb(66, 159, 251);
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 500px) {
  #name-label,
  #email-label,
  #number-label,
  .gender-label,
  .rating,
  .like-text,
  .comment-label {
    display: block;
    text-align: left;
    width: 100%;
  }

  #survey-form {
    width: 80%;
  }

  #name,
  #email,
  #number {
    width: 90%;
  }

  .comment {
    margin-top: 0;
    max-width: 90%;
    min-width: 90%;
    max-height: 150px;
    min-height: 150px;
  }

  #rating-list,
  .like-list {
    margin: 0;
  }
}